@charset "UTF-8";

h1{
    font-family: magnesium-mvb, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #21325b;
}
h3{
    font-family: "larken", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #335aa9;
}
body{
    font-family: "larken", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #335aa9;
}