@charset "UTF-8";

html{
    background-color: lightblue;
}
h1{
    font-family: "larken", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #ffffff;
}
h3{
    font-family: "larken", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #ffffff;
}
body{
    font-family: "larken", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    max-width: 800px;
    margin: auto;
}
#title-box{
    text-align: center;
    padding: 20px;
    background-color:#21325b;
}
#content-box{
    text-align: left;
    padding: 20px;
    background-color:#335aa9;
    line-height: 200%;
}
h3{
    text-align: center;
}
.bottom-nav{
    max-width: 800px;
}
#nav-left{
    padding: 20px;
    background-color:#21325b;
    width: calc(50% - 20px);
    display: inline-block;
    text-align: center;
}
#nav-right{
    padding: 20px;
    background-color:#21325b;
    width: calc(50% - 20px);
    display: inline-block;
    text-align: center;
}
a{
    color: #ffdf67;
}
a:hover{
    color: #fbb056;
    background-image: ;
}
a:active{
    color: aqua;
}
