@charset "utf-8";

html{
    font-size: 7px;
    line-height: 1.3rem;
    background-color: #e5549d;
    position: relative;
    margin: auto;
}

.sb{
    font-family: "mendl-serif-dusk", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.med{
    font-family: "mendl-serif-dusk", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.reg{
    font-family: "mendl-serif-dusk", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.lt{
    font-family: "mendl-serif-dusk", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.h1{
    font-size: 5rem;
}

.h3{
    font-size: 2.5rem;
}

.b1{
    font-size: 2rem;
}

.b2{
    font-size: 2rem;
}

.prp{
    color: #292561;
}

.pnk{
    color: #e5549d;
}

#print-area{
    position: absolute;
    width: calc(125rem * 1.3);
    height: 1080px;
    background-color: white;
    padding: calc(6rem * 1.3);
    padding-right:0;
    box-sizing: border-box;
    z-index: 6;
    font-size:0;
}

.column{
    position: relative;
    width: calc(50% - 6rem * 1.3);
    display: inline-block;
    vertical-align: top;
    margin-right: calc(6rem * 1.3);
    height:100%;

}

#left-column{

}

#right-column{
    background-color:antiquewhite;
}

#logo-hours{
    position: relative;
    text-align: center;
}

#logo{
    position: relative;
    width: 67%;
    height: auto;
    top: 0;
    padding-bottom: calc(2rem * 1.3);
}

#ice-cream{
    margin-top: calc(4rem * 1.3);
    text-align: center;
    position: relative;
    border: solid #e5549d 3px;
    box-sizing: border-box;
}

.title{
    position: relative;
    line-height: 1;
    top: calc(-3rem * 1.3);
    padding: calc(1rem * 1.3);
    width: 40%;
    background-color: white;
    margin: auto;
}

.box-1{
    position: relative;
    top: calc(-4rem * 1.3);
    margin-top: -calc(4rem * 1.3);
    padding-top: ;
    padding-left: calc(4rem * 1.3);
    padding-right: calc(4rem * 1.3);
}

.h3{
    line-height: 1rem;
}

.b1{
    line-height: 1.3;
}

.cone-ico{
    width: 15%;
    position: absolute;
    display: inline-block;
}

.cup-ico{
    width: 15%;
    position: absolute;
    display: inline-block;
}