@charset "utf-8";

body{
    height: 100%;
    width: 100%;
    margin: 0;
    transition: background-color 0.1s ease;
    /*! font-size: 7px; */
    line-height: 1.3;

    overflow: hidden;
}
#search-target{
    background-color:blue;
    width:100px;
    height:100px;
    position:fixed;
    opacity: 0;
}
#search-target:hover{
    opacity: 1;;
}

.fitdevreg{
    font-family: "fit-devanagari", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.fitdevwide{
    font-family: "fit-devanagari-wide", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.fitdevexwide{
    font-family: "fit-devanagari-extra-wide", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.fitdevext{
    font-family: "fit-devanagari-extended", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.fitdevexext{
    font-family: "fit-devanagari-ex-extended", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.fitdevultext{
    font-family: "fit-devanagari-ult-extended", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.text{
    text-align: justify;
    width: 100dvw;
    bottom: 0;
}

p{
    line-height: 0;
    margin: 3%;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 2.9%;
}

.text1{
    font-size: 5.86dvw;
    margin-top: 0.1%;
}

.text2{
    font-size: 5.07dvw;
    margin-top: 4.15%;
}

.text3{
    font-size: 5.09dvw;
    margin-top: 3.92%;
}

.text4{
    font-size: 5.93dvw;
    margin-top: 4.284%;
}

.text5{
    font-size: 4.573dvw;
    margin-top: 3.91%;
}

@media screen and (max-width: 1080px) and (min-width: 680px){
    .text1{
        font-size: 11.03dvw;
        line-height: 0.767;
        margin-top: 1.1%;
        text-align-last: justify;
    }

    .text2{
        font-size: 9dvw;
        line-height: 0.767;
        margin-top: -0.1%;
        text-align-last: justify;
        
    }

    .text3{
        font-size: 9vw;
        line-height: 0.767;
        margin-top: 0%;
        text-align-last: justify;
    }

    .text4{
        font-size: 11.5vw;
        line-height: 0.767;
        margin-top: 0.27%;
        text-align-last: justify;
    }

    .text5{
        font-size: 8.35dvw;
        line-height: 0.767;
        margin-top: -0.2%;
        text-align-last: justify;
    }
}

@media screen and (max-width: 680px){
    .text1{
        font-size: 11.03dvw;
        line-height: 0.767;
        margin-top: 1.1%;
        text-align-last: justify;
    }

    .text2{
        font-size: 9dvw;
        line-height: 0.767;
        margin-top: -0.1%;
        text-align-last: justify;
        
    }

    .text3{
        font-size: 9vw;
        line-height: 0.767;
        margin-top: 0%;
        text-align-last: justify;
    }

    .text4{
        font-size: 11.5vw;
        line-height: 0.767;
        margin-top: 0.27%;
        text-align-last: justify;
    }

    .text5{
        font-size: 8.35dvw;
        line-height: 0.767;
        margin-top: -0.2%;
        text-align-last: justify;
    }
}

#follow{
    position: fixed;
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: 0.5s ease-out;
    transition-delay: 0.5s;
    z-index: 2;
    animation: pulse1 1s ease-out;
}

.black{
    background-color: black;
}

#pulse-fast{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    pointer-events: none;
    transform: scale(-50%, -50%);
    transition: left top 0.1s ease-out;
    z-index: 2;
    animation: pulse2 0.5s ease-out infinite;
}

#pulse-fast.slow-pulse{
    width: 500px;
    height: 500px;
    animation: pulse2 2s ease-out infinite;
}

@keyframes pulse1 {
    0% {
        transform: translate(0%, 0%);
        opacity: 1;
    }
    100% {
        transform: translate(0%, 0%);
        opacity: 0;
    }
}

@keyframes pulse2 {
    0% {
        transform: translate(0%, 0%) scale(1.5);
        opacity: 1;
    }
    33% {
        transform: translate(0%, 0%) scale(0.8);
        opacity: 0.75;
    }
    34% {
        transform: translate(0%, 0%) scale(1.5);
        opacity: 1;
    }
    100% {
        transform: translate(0%, 0%) scale(0.8);
        opacity: 0;
    }
}

#click-me{
    color: black;
    z-index: 3;
    cursor: pointer;
    position: absolute;
    right: 25%;
    bottom: 25%;
}

.button-1{
    position: fixed;
    padding: 25px;
    margin: 25px;
    bottom: 0;
    left: 0;
    background-color: antiquewhite;
    z-index: 3;
}

.button-2{
    position: fixed;
    padding: 25px;
    margin: 25px;
    bottom: 0;
    right: 0;
    background-color: antiquewhite;
    z-index: 3;
}

#page-1{
    background-color: blue;
    width: 100px;
    height: 50px;
}

#page-2{
    background-color: red;
    width: 100px;
    height: 50px;
}

#page-3{
    background-color: gray;
    width: 100px;
    height: 50px;
}

#page-4{
    background-color: green;
    width: 100px;
    height: 50px;
}

.text{
    width: calc(25% * 1.3);
    height: calc(25% * 1.3);
}