@charset "UTF-8";

html{
    background-color: #ed1c24;
    background-image: url(/media/vinnies-background.jpg);
    background-repeat: repeat;
}

.menu{
    width: 612px;
    height: 792px;
    position: relative;
    background-color: white;
    margin: auto;
    margin-top: 20px;
}

.sections{
    z-index: 0;
    position: absolute;
    top: 26px;
    left: 45px;
}

#section-1{
    width: 508px;
    height: 175px;
    border: #ed1c24 2.5pt solid;
    border-bottom: calc(2.5pt / 2);
    position: relative;
}

#section-2{
    width: 508px;
    height: 338px;
    border: #ed1c24 2.5pt solid;
    border-bottom: calc(2.5pt / 2);
    position: relative;
}

.flex-container{
    display: flex;
}

#section-3{
    width: 34%;
    height: 204px;
    border: #ed1c24 2.5pt solid;
    border-bottom: calc(2.5pt / 2);
    margin: 0;
    position: relative;
}

#section-4{
    width: 65%;
    height: 204px;
    border: #ed1c24 2.5pt solid;
    border-left: calc(2.5pt / 2);
    border-bottom: calc(2.5pt / 2);
    margin: 0;
    position: relative;
}

#section-5{
    width: 508px;
    height: 37px;
    border: #ed1c24 2.5pt solid;
    border-bottom: calc(2.5pt / 2);
    position: relative;
}

.images{
    z-index: 2;
}

#logo{
    top: 10px;
    left: 42px;
    width: 132px;
    height: auto;
    position: absolute;
}

#phone{
    top: 130px;
    right: 202px;
    width: 24px;
    height: auto;
    position: absolute;
}

#insta{
    top: 166px;
    right: 204px;
    width: 20px;
    height: auto;
    position: absolute;
}

#slices{
    top: 213px;
    left: 66px;
    width: 240px;
    height: auto;
    position: absolute;
}

#fresh{
    top: 270px;
    right:28px;
    width: 101px;
    height: auto;
    position: absolute;
}

#price{
    bottom: 100px;
    right: 29px;
    width: 57px;
    height: auto;
    position: absolute;
}

#friendly{
    bottom: 27px;
    left: 23px;
    width: 126px;
    height: auto;
    position: absolute;
}

#circle{
    bottom: 12px;
    right: 90px;
    width: 26px;
    height: auto;
    position: absolute;
}

.button{
    width: fit-content;
    margin: auto;
    margin-top: 20px;
    background-color: white;
    padding: 10px;
}

.link{
    color: #ed1c24;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.shrikhand{
    font-family: "shrikhand", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ed1c24;
}

.poppins-reg{
    font-family: "poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ed1c24;
}

.poppins-med{
    font-family: "poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #ed1c24;
}

.poppins-sb{
    font-family: "poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #ed1c24;
}

.poppins-blk{
    font-family: "poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
    color: #ed1c24;
}

@font-face {
    font-family: "SignPainter";
    src: url(/Users/adotul00/Documents/interactive-development-2025/GitHub/alex-dotulong-interactive-development-2025-fall/menu-replica/font/SignPainterHouseScript.ttf) format(truetype);
}

.signpainter{
    font-family: "SignPainter";
    color: #ed1c24;
}

.about{
    font-size: 11px;
    text-align: center;
    width: 335px;
    top: 38px;
    left: 148px;
    position: absolute;
    line-height: 135%;
}

.menu-title{
    font-size: 50px;
    top: 95px;
    left: 43px;
    position: absolute;
}

#num{
    font-size: 15px;
    top: 105px;
    left: 370px;
    position: absolute;
}

#ig{
    font-size: 15px;
    top: 137px;
    left: 376px;
    position: absolute;
}

#bts{
    font-size: 48px;
    line-height: 0;
    position: absolute;
    top: 142px;
    left: 18px;
}

#awo{
    font-size: 12px;
    line-height: 0;
    position: absolute;
    top: 171px;
    left: 46px;
}

.pricing{
    font-size: 15px;
    position: absolute;
    top: 185px;
    left: 25px;
    width: 208px;
    line-height: 135%;
}

.blk-1{
    font-size: 13px;
    line-height: 22px;
    font-family: "poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
    color: #ed1c24;
}

.justify{
    text-align-last: justify;
}

.dots{
    text-decoration-line: underline;
    text-decoration-style: dotted;
    vertical-align: 2px;
}

#column-2{
    left: 241px;
    top: 123px;
    position: absolute;
}

#vms{
    font-size: 22px;
    line-height: 150%;
}

.pricing-2{
    font-size: 15px;
    position: absolute;
    top: 185px;
    left: 255px;
    width: 200px;
    line-height: 135%;
}

.pricing-3{
    font-size: 15px;
    position: absolute;
    top: 187px;
    left: 455px;
    width: 200px;
    line-height: 147%;
}

#sides{
    font-size: 21px;
    top: 20px;
    left: 15px;
    position: absolute;
}

#sides-list{
    font-size: 12.5px;
    line-height: 156%;
    top: 77px;
    left: 9px;
    position: absolute;
}

#combos{
    font-size: 21px;
    top: 16px;
    left: 12px;
    position: absolute;
}

#combos-list{
    font-size: 13px;
    top: 52px;
    left: 14px;
    position: absolute;
}

.combos-info-1{
    font-size: 11px;
    letter-spacing: 0.75px;
}

.combos-info-2{
    font-size: 11px;
    letter-spacing: 1px;
}

.combos-info-3{
    font-size: 11px;
    letter-spacing: 0.75px;
}

.cmb-grp{
    line-height: 160%;
}

#lsb{
    top: 51px;
    left: -3px;
    position: absolute;
}

#fnf{
    top: 100px;
    position: absolute;
}

.cmb-price-1{
    font-size: 19px;
    letter-spacing: 1px;
    left: 289px;
    top: 69px;
    position: absolute;
}

.cmb-price-2{
    font-size: 17.5px;
    letter-spacing: 0.75px;
    left: 276px;
    top: 173px;
    position: absolute;
}

.add-soda{
    font-size: 11px;
    letter-spacing: 1px;
    top: 144px;
    left: 248px;
    position: absolute;
}

.dips{
    font-size: 11px;
    letter-spacing: 0.5px;
    top: 10px;
    left: 94px;
    position: absolute;
}

.dips-list{
    font-size: 10px;
    letter-spacing: 0.8px;
    top: 9px;
    right: 40px;
    position: absolute;
}

#img-ctr{
    width: 612px;
    height: auto;
    position: relative;
    margin: auto;
    margin-top: 20px;
    display: block;
}