@charset "UTF-8";

html{
    height: 100%;
    background-image: url("../../media/office-break.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

