@charset "UTF-8";

html{
    font-size: 7px;
    line-height: 1.3;
}

body{
    font-size: 0;
    margin: calc(2rem * 1.3);
    margin-right: 0;
}

.grid-unit{
    vertical-align: top;
    box-sizing: border-box;
    height: 300px;
    border: solid black 10px;
    width: calc(25% - 2rem * 1.3);
    margin-right: calc(2rem * 1.3);
    margin-bottom: calc(2rem * 1.3);
    display: inline-block;
}

@media all and (max-width: 1280px){
    .grid-unit{
        width: calc(33.333% - 2rem *1.3);
    }
}

@media all and (max-width: 960px){
    .grid-unit{
        width: calc(50% - 2rem *1.3);
    }
}

@media all and (max-width: 500px){
    .grid-unit{
        width: calc(100% - 2rem *1.3);
    }
}